body {
  background-color: #133757;
  overflow-x: hidden;
}

.heading {
  position: absolute;
  top: 50px;
  left: 550px;
  font-size: 30px;
  color: rgba(250, 249, 249, 0.801);
}
.sub-heading {
  position: absolute;
  top: 92px;
  left: 460px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.637);
}
.grid-container {
  display: grid;
}
.box {
  position: absolute;
  top: 150px;
  left: 170px;
  height: 500px;
  width: 80%;
  background-color: transparent;
}
.box1 {
  height: 500px;
  background-color: rgba(255, 255, 255, 0.959);
  left: 15px;
}
.box2 {
  height: 500px;
  background-color: rgb(92, 190, 207);
  left: 15px;
}

.nav {
  padding-top: 90px;
}

.adj {
  height: 70px;
  width: 250px;
  margin-top: 20px;
  border: none;
  text-decoration: none;
  margin-top: 10px;
  background-color: #fff;
}

.icon {
  height: 45px;
  margin-top: 10px;
  margin-left: 15px;
}
#communication {
  margin-left: 10px;
}
.adj:hover {
  box-shadow: 1px 1px 1px 1px;
}
.content {
  margin-top: 150px;
  font-size: 25px;
  color: #fff;
  word-spacing: 3px;
}
.digi-heading {
  font-size: 12px;
  color: #fff;
  background-color: rgba(59, 136, 150, 0.979);
  position: relative;
  top: 120px;
  left: 120px;
  font-weight: bold;
}
/* col-3 */
.box3 {
  height: 500px;

  background-image: url("../image/2334094.jpg");
  background-position: center;
  background-size: 400px 500px, cover;
}
.adj1 {
  height: 500px;
  background-image: url("../image/2334094.jpg");
  background-position: center;
  background-size: 400px 500px, cover;
}
.adj2 {
  height: 500px;
  max-width: 100%;
  background-image: url("../image/18383.jpg");
  background-position: center;
  background-size: 400px 500px, cover;
}
.adj3 {
  height: 500px;
  max-width: 100%;
  background-image: url("../image/5167172.jpg");
  background-position: center;
  background-size: 400px 500px, cover;
}
.lmore {
  color: #fff;
  text-decoration: none;
  margin-left: 180px;
}
.mobileview {
  display: none;
}
.plus {
  display: none;
}
.minus {
  display: none;
}
.add {
  display: none;
}
.mobile {
  display: none;
}
.center {
  color: black;
  position: relative;
  top: -35px;
}
/* mobile view */
@media only screen and (max-width: 460px) {
  .box {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  .heading {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 28px;

    color: rgba(250, 249, 249, 0.801);
  }
  .sub-heading {
    position: absolute;
    top: 80px;
    left: 5px;

    font-size: 16px;
    word-spacing: 1px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.637);
  }

  .box3 {
    display: none;
  }
  .box2 {
    display: none;
  }
  .box1 {
    display: none;
  }

  .center {
    position: absolute;
    top: 25px;
    left: 50px;
    font-size: 20px;
    font-weight: 500;
  }
  .icon {
    height: 50px;
    margin-left: 10px;
  }

  .plus {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 45px;
    left: 280px;
  }
  .minus {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 45px;
    left: 280px;
  }
  .learn {
    display: block;
  }
  /* .add{
      display: block;
      height: 300px;
      width: 400px;
      background-color:#456581;
    } */
  .digi-heading {
    font-size: 12px;
    color: #fff;
    background-color: rgba(59, 136, 150, 0.979);
    position: relative;
    top: 10px;
    left: 40px;
    font-weight: bold;
  }
  .mobile {
    display: block;
    margin-top: 180px;
  }
  .mo-text {
    color: black;
    margin-left: 10px;
    margin-top: 8px;
    font-weight: 450;
  }
  .digi-con {
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 10px;
  }
  .gap {
    margin-top: 10px;
  }
  .mo-box2 {
    height: 300px;
    background-color: rgb(92, 190, 207);
  }
  .lmore {
    color: #fff;
    position: relative;
    top: 20px;
    right: 90px;
  }
}
